h1, h3 {
  text-align: center;
}

p {
  font-family: 'Architects Daughter', cursive;
  color: #AAAAAA;
  font-size: 36px;
  padding: 8px;
  text-align: center;
}

p:hover {
  text-decoration: underline;
  cursor: pointer;
}
